{% extends 'core/base.html' %}
{% load static %}
{% load auth_extras %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'historico/css/historico.css' %}">
{% endblock %}

{% if request.user.is_superuser %}
    <div class="historico">
        <div class="text">
            <h1>Histórico</h1>
            <p>Essas são todas as solicitações já realizadas!</p>
        </div>

        <table>
            <thead>
                <th>ID</th>
                <th>Título</th>
                <th>Status</th>
                <th>Professor</th>
                <th>Quantidade de Cópias</th>
                <th>Tipo de atividade</th>
                <th>Grampos</th>
                <th>Data de Solicitação</th>
                <th>Data de Entrega</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <tr>
                    <td>7</td>
                    <td>Atividade sobre Templates Django</td>
                    <td style="color: #30BE34;">Concluída</td>
                    <td>Irlan Arley Targino Moreira</td>
                    <td>40</td>
                    <td>Exercicio</td>
                    <td>Sim</td>
                    <td>20 de Out.</td>
                    <td>27 de Out.</td>
                    <td>
                        <button>Detalhes</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="quantidade-solicitacoes">
            <p>Mostrando <strong>01</strong> solicitação</p>
        </div>
    </div>
{% endif %}

{% if request.user|has_group:"Professor" %}
    <div class="historico">
        <div class="text">
            <h1>Histórico</h1>
            <p>Essas são todas as solicitações já feitas por você!</p>
        </div>

        <table>
            <thead>
                <th>ID</th>
                <th>Título</th>
                <th>Status</th>
                <th>Quantidade de Cópias</th>
                <th>Tipo de atividade</th>
                <th>Grampos</th>
                <th>Data de Solicitação</th>
                <th>Data de Entrega</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <tr>
                    <td>7</td>
                    <td>Atividade sobre Templates Django</td>
                    <td style="color: #30BE34;">Concluída</td>
                    <td>40</td>
                    <td>Exercicio</td>
                    <td>Sim</td>
                    <td>20 de Out.</td>
                    <td>27 de Out.</td>
                    <td>
                        <button>Detalhes</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="quantidade-solicitacoes">
            <p>Mostrando <strong>01</strong> solicitação</p>
        </div>
    </div>
{% endif %}

{% if request.user|has_group:"Bolsista"  %}
    <div class="historico">
        <div class="text">
            <h1>Histórico</h1>
            <p>Essas são todas as solicitações que você já entregou!</p>
        </div>
    
        <table>
            <thead>
                <th>ID</th>
                <th>Título</th>
                <th>Status</th>
                <th>Professor</th>
                <th>Quantidade de Cópias</th>
                <th>Tipo de atividade</th>
                <th>Grampos</th>
                <th>Data de Solicitação</th>
                <th>Data de Entrega</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <tr>
                    <td>7</td>
                    <td>Atividade sobre Templates Django</td>
                    <td style="color: #30BE34;">Concluída</td>
                    <td>Irlan Arley Targino Moreira</td>
                    <td>40</td>
                    <td>Exercicio</td>
                    <td>Sim</td>
                    <td>20 de Out.</td>
                    <td>27 de Out.</td>
                    <td>
                        <button>Detalhes</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="quantidade-solicitacoes">
            <p>Mostrando <strong>01</strong> solicitação</p>
        </div>
    </div>
{% endif %}

{% endblock %}