!solicitacao/migrations/
solicitacao/migrations/*
!solicitacao/migrations/__init__.py
!core/migrations/
core/migrations/*
!core/migrations/__init__.py
__pycache__

# Ambiente virtual
venv/
env/

# env
.env

# local
dev_notes.md
media/uploads/
z_db_backup/

