table {
    max-width: 1158px;
    padding-right: 14px;
    border-spacing: 0;
}

table > thead {
    font-size: 15px;
    color: var(--azul-escuro);
}

table > thead > tr > th {
    padding: 11px 12px 11px 12px;
}

table > tbody > tr {
    background-color: var(--tablerow);
}

table > tbody > tr > td {
    color: var(--azul-escuro);
    text-align: center;
    font-size: 14px;
    padding: 13px 8px 13px 8px;
    border-color: var(--bordas);
    border-style: solid;
    border-width: 1px 0px;
}

table > tbody > tr > td > button {
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    height: 30px;
    cursor: pointer;
}

table > tbody > tr > td > button:hover {
    background-color: var(--azul-claro);
    transition: ease-in-out 0.3s;
}

.text {
    margin-bottom: 32px;
    color: var(--azul-escuro);
}

.text h1 {
    font-size: 24px;
    margin-bottom: 4px;
}

.text p {
    font-size: 12px;
    font-weight: 300;
}

#quantidade-solicitacoes {
    padding: 16px;
}

#quantidade-solicitacoes > p {
    font-size: 13px;
    color: var(--azul-escuro);
}