{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'fila/css/detalhes.css' %}">
{% endblock %}

<div class="container-header">
    <div class="container-informacoes">
        <h1 class="titulo-detalhes">Solicitação Nº 05</h1>
        <p class="solicitante">Irlan Arley Targino Moreira</p>
        <p class="data-solicitante">20/10/2024</p>
    </div>
        <div class="detalhes-status">
            <h2>Detalhes</h2>
            <div class="dropdown">
                <div class="selected default">
                    <span>Status da tarefa</span>
                    <div class="caret"></div>
                </div>
                <div class="list">
                    <div class="item red">Pendente</div>
                    <div class="item green">Concluído</div>
                    <div class="item blue">Aguardando entrega</div>
                    <div class="item blue">Aguardando retirada</div>
                    <div class="item yellow">Em andamento</div>
                </div>
            </div>
        </div>
</div>

<div class="container">
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Título</p>
            <p class="text-card">Exercício de Fixação sobre
                Ponteiros</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Retirada</p>
            <p class="text-card">Pessoalmente</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Grampos</p>
            <p class="text-card">Sim</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Quantidade de Cópias</p>
            <p class="text-card">50</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Tipo de Atividade</p>
            <p class="text-card">Exercício</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Data de Entrega</p>
            <p class="text-card">27/10/2024</p>
        </div>
    </div>
    <div class="container-card maior">
        <div class="container-conteudo">
            <p class="title-card">Arquivo</p>
            <p class="text-card">fixacaoponteiros.pdf</p>
            <button>Download</button>
        </div>
    </div>
</div>

<script src="{% static 'fila/js/dropdown.js' %}"></script>

{%endblock%}