{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'fila/css/fila.css' %}">
{% endblock %}

<div class="fila">
    <div class="text">
        <h1>Fila de Impressão</h1>
        <p>Essas são as solicitações que precisam ser entregues!</p>
    </div>

    <table>
        <thead>
            <th>ID</th>
            <th>Título</th>
            <th>Status</th>
            <th>Professor</th>
            <th>Quantidade de Cópias</th>
            <th>Tipo de atividade</th>
            <th>Grampos</th>
            <th>Data de Solicitação</th>
            <th>Data de Entrega</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr>
                <td>7</td>
                <td>Atividade sobre Templates Django</td>
                <td style="color: #006EBC;">Aguardando entrega</td>
                <td>Irlan Arley Targino Moreira</td>
                <td>40</td>
                <td>Exercicio</td>
                <td>Sim</td>
                <td>20 de Out.</td>
                <td>27 de Out.</td>
                <td>
                    <button>Detalhes</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="quantidade-solicitacoes">
        <p>Mostrando <strong>01</strong> solicitação</p>
    </div>
</div>
{% endblock %}