{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'fila/css/detalhes-professor.css' %}">
<link rel="stylesheet" href="{% static 'fila/css/detalhes.css' %}">
{% endblock %}

<div class="container-header">
    <div class="container-informacoes--professor">
        <div class="conteudo-solicitacao">
            <h1 class="titulo-detalhes">Solicitação Nº 05</h1>
            <p class="solicitante">Irlan Arley Targino Moreira</p>
            <p class="data-solicitante">20/10/2024</p>
        </div>
        <div class="dropdown">
            <div class="selected default">
                <span>Alterar solicitação</span>
                <div class="caret"></div>
            </div>
            <div class="list">
                <div class="item transparent">Editar</div>
                <div class="item red">Excluir solicitação</div>
            </div>
        </div>
    </div>

    <div id="overlay-excluir" class="overlay hidden">
        <div class="overlay-content">
            <h3>Deseja excluir a solicitação?</h3>
            <p>Cuidado! Esta operação não pode ser desfeita.</p>
            <button class="button-confirmar-exclusao">Confirmar Exclusão</button>
            <button class="button-cancelar-exclusao">Cancelar</button>
        </div>
    </div>

    <div class="detalhes-status--professor">
        <h2>Detalhes</h2>
        <div class="status">
            <div class="status-name">
                <span>Aguardando entrega</span>
            </div>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Título</p>
            <p class="text-card">Exercício de Fixação sobre
                Ponteiros</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Retirada</p>
            <p class="text-card">Pessoalmente</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Grampos</p>
            <p class="text-card">Sim</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Quantidade de Cópias</p>
            <p class="text-card">50</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Tipo de Atividade</p>
            <p class="text-card">Exercício</p>
        </div>
    </div>
    <div class="container-card">
        <div class="container-conteudo">
            <p class="title-card">Data de Entrega</p>
            <p class="text-card">27/10/2024</p>
        </div>
    </div>
    <div class="container-card maior">
        <div class="container-conteudo">
            <p class="title-card">Arquivo</p>
            <p class="text-card">fixacaoponteiros.pdf</p>
            <button>Download</button>
        </div>
    </div>
</div>

<div>
    <button class="button-salvar hidden">Salvar</button>
    <button class="button-descartar hidden">Descartar alterações</button>
</div>

<script src="{% static 'fila/js/dropdown.js' %}"></script>
<script src="{% static 'fila/js/botoes.js' %}"></script>

{%endblock%}